

		#firstJumbotron {
			background-image: url('cupcakes.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			padding-top: 7%;
			margin: 5% auto;
			height: 750px;
			max-width: 1000px;
		}
		

		
		#centered {
			text-align: center;
			font-weight: bold;
		}
		
		#intro {
			margin: 0% 5% 5% 5%;
		}
		
		#recipes {
			margin-left: 10px;
		}
		
		.header {
			margin: 10% 5% 0% 5%;
		}

		.card-deck {
			margin-left: 10%;
			margin-right: 10%;
			margin-top: 5%;
		}
		
		#measuringCups {
			background-image: url('measuringCups.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			padding-top: 17%;
			margin: auto;
			height: 800px;
			max-width: 1000px;
			font-weight: bold;
		}

		.alert-danger {
			font-weight: normal;
			padding: 2px;
		}
		
		#ingredientHeader{
			width: 28%;
		}
		#convertFromHeader {
			width: 70%;
		}
		#convertToHeader {
			width: 65%;
		}
		#enteredValueHeader {
			width: 45%;
		}
		#resultHeader {
			width: 30%;
		}
		
		#ingredient {
			text-align: center;
		}
		
		.row {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		
		#contactUs {
			width: 600px;
			
		}
		
		form {
			margin-bottom: 10%;
			margin-left: 5%;
		}
		#successMessage {
			display: none;
		}

		#home {
			text-align: center;
			margin-bottom: 20px;
		}
